a{
    text-decoration: none;
}
div.alpha{
    width: 500px;
    height: 50px;
    background-color: brown;
    border: 1px black solid;
    color: black;
    font-size: 42px;
    text-align: center;
    align-content: center;
    position: absolute;
}
body{
    background-color: rgb(113, 113, 253);
    font-family: 'Source Code Pro', monospace;
    font-family: 'Space Grotesk', sans-serif;
}
div.beta{
    width: 500px;
    height: 50px;
    background-color: brown;
    border: 1px black solid;
    color: black;
    font-size: 42px;
    text-align: center;
    align-content: center;
}