body {
  background-color: gray;
}
body {
  margin: 0;
}
.wide {
  background-color: #333;
}
.Topic {
  font-size: 35px;
  text-align: center;
  color: black;
  font-weight: 900;
  position: absolute;
  bottom: 150px;
  left: 115px;
  color: white;
}
.TOPIMG {
  width: 35%;
  margin-left: 100px;
}
.poilk {
  font-size: 80px;
  margin-left: 50px;
  font: Cinzel;
  color: #5488a1;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
}

ul.topnav li a.active {
  background-color: #04aa6d;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}
.Firstjpg {
  width: 500px;
  height: 300px;
  margin-left: 100px;
  box-shadow: 5px 5px 15px 0px black;
}
