div.container {
    display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
div.item {
  background-color: gray;
  border: 1px solid black;
  padding: 10px;
  text-align: justify;
}
div.a1{
    grid-column: 1/3;
}
div.a6{
    grid-column: 3;
    grid-row: 2/4;
}
div.a3{
    grid-row: 1/4;
    grid-column: 4;
}
div.a7{
    grid-column: 1;
    grid-row: 3/5;
}
div.a9{
    grid-row: 4;
    grid-column: 2/5;
}