body{
    background-image: url("https://pbs.twimg.com/media/DaLe2ERVwAAZltE.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lobster', cursive;
    font-size: 24px;
}
div{
    background-color: aliceblue;
    width: 75%;
    opacity: 0.75;
    border: solid black;
    box-shadow: black 10px 10px 10px 10px;
    text-align: center;
}
div.box{
    height: auto;
}
img.rank{
    height: 100px;
    width: auto;
    background-color: aliceblue;
    border: solid black;
    box-shadow: black 10px 10px 10px 0px;
    border-radius: 25%;
}