body{
    background-image: url("181-1819824_pubg-minimalist-playerunknown-s-battlegrounds-4k-wallpaper-pubg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-image: fixed;
    font-family: 'Lobster', cursive;
    font-size: 24px;
}
div{
    background-color: aliceblue;
    width: 75%;
    opacity: 0.75;
    border: solid black;
    box-shadow: black 10px 10px 10px 10px;
    text-align: center;
}
div.box{
    height: auto;
}
img.rank{
    height: 100px;
    width: auto;
    background-color: aliceblue;
    border: solid black;
    box-shadow: black 10px 10px 10px 0px;
    border-radius: 25%;
}
img.pp{
    height: 230px;
    width: auto;
    background-color: aliceblue;
    border: solid black;
    box-shadow: black 0px 0px 20px 1px;
    border-radius: 50%;
}
